.bus-link {
  color: #fff;
  text-decoration: none;
}

.bus-content {
  h3 {
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  h2 {
    margin-bottom: 16px;
    color: $color-orange-dark;
  }

  p {
    margin-bottom: 21px;
  }
}

#menu .bus-content {
  h3,h2,p {
    text-align: end;
  }
}