// PATHS
$path-fonts: '/static/fonts/';

// COLORS
$color-black: #000;
$color-white: #fff9f9;
$color-white-cream: #fffcf6;
$color-orange: #ff613d;
$color-orange-lite: #ff8164;
$color-orange-dark: #f64a22;
$color-orange-full-dark: #e23e18;

// SIZES
$height-header: 70px;
